<body>
  <div class="container container1">
    <div class="row">
      <div class="col-md-3">
        <h1>メモアプリ</h1>
      </div>
      <div class="col-md-3">
        <a href='/new_memo' class="btn btn-secondary">追加</a>
      </div>
    </div>
  </div>
  <ul>
    <% @memos.each_with_index do |memo, i|%>
      <li><a href=<%= "/memo/#{(memo['id'])}"%> >メモ<%= (i + 1)%></a></li>
    <% end %>
  </ul>
</body>
